* {
    font-family: Arial, sans-serif;
}

body {
    font-size: 16px;
    background-color: #FFFFFF;
}

.container {
    min-height: 100px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.top-line {
    background: #1CA46C;
    height: 5px;
}

.container .header {
    padding: 10px 0;
}

.container .header .logo {
    float: left;
}

.container .header .logo img {
    width: 80px;
    float: left;
}

.container .header .logo .title {
    margin: 0 0 0 10px;
    float: left;
    font-size: 40px;
    padding: 20px 0 0 0;
    color: #1CA46C;
}

@media (max-width: 576px) {
    .container .header .logo img {
        width: 60px;
    }

    .container .header .logo .title {
        font-size: 26px;
        margin-left: 5px;
    }
}

table.phonebook-list-table {
    border: 2px solid #1CA46C;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.phonebook-list-table td, table.phonebook-list-table th {
    border: 1px solid #1CA46C;
    padding: 5px 4px;
}

@media (max-width: 576px) {
    table.phonebook-list-table tr > td:nth-child(4), table.phonebook-list-table tr > th:nth-child(4) {
        display: none;
    }
}

table.phonebook-list-table thead th.th-id {
    width: 40px;
}

table.phonebook-list-table thead th.th-manage {
    width: 50px;
}

table.phonebook-list-table thead th.th-numbers {
    width: 190px;
}

table.phonebook-list-table thead th.th-updated-at {
    width: 160px;
}

table.phonebook-list-table tbody td {
    font-size: 1rem;
}

table.phonebook-list-table tbody td div[contenteditable] {
    /*outline: 0 solid transparent;*/
}

table.phonebook-list-table tbody td .delete-button {
    cursor: pointer;
    width: 16px;
    float: right;
}

table.phonebook-list-table tbody td .edit-button {
    cursor: pointer;
    width: 16px;
    float: right;
    margin-right: 8px;
}

table.phonebook-list-table thead {
    background: #D7EFE5;
    background: -moz-linear-gradient(top, #e1f3eb 0%, #dbf0e7 66%, #D7EFE5 100%);
    background: -webkit-linear-gradient(top, #e1f3eb 0%, #dbf0e7 66%, #D7EFE5 100%);
    background: linear-gradient(to bottom, #e1f3eb 0%, #dbf0e7 66%, #D7EFE5 100%);
    border-bottom: 3px solid #1CA46C;
}

table.phonebook-list-table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

table.phonebook-list-table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #1CA46C;
}

table.phonebook-list-table tfoot td {
    font-size: 14px;
}

.add-new-phonebook-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    background: #1CA46C;
    padding: 5px 20px;
    text-decoration: none;
    margin: 0 0 10px 0;
    float: right;
    cursor: pointer;
}

.add-new-phonebook-button:hover {
    background: #1F7A55;
    text-decoration: none;
}

#phonebook_list_table {
    display: none;
}

#no_phonebook_list {
    display: none;
    text-align: center;
}

#phonebook_form {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    display: none;
}

#phonebook_form .phonebook-form-content-back {
    margin: 0 auto;
    max-width: 350px;
    background-color: rgba(0, 0, 0, .1);
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#phonebook_form .phonebook-form-content {
    background-color: #1CA46C;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 100px;
    position: relative;
}

#phonebook_form .phonebook-form-content .phonebook-form-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#phonebook_form .phonebook-form-content .phonebook-form-close img {
    width: 24px;
}

#phonebook_form .phonebook-form-content .phonebook-form-body {
    padding: 35px 10px 10px 10px;
    color: #FFFFFF;
}

#phonebook_form .phonebook-form-content .phonebook-form-body label .label {
    display: block;
    margin-bottom: 5px;
}

#phonebook_form .phonebook-form-content .phonebook-form-body label .error {
    display: none;
    margin-top: 5px;
    background-color: #FFEAEA;
    color: #C93232;
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: .8rem;
}

#phonebook_form .phonebook-form-content .phonebook-form-body label input[type="text"] {
    border: #EEEEEE 1px solid;
    outline: none;
    width: 100%;
}

#phonebook_form .phonebook-form-content .phonebook-form-body .add-new-phonebook-save-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #1CA46C;
    background: #ffffff;
    padding: 5px 20px;
    text-decoration: none;
    margin: 10px 0 0 0;
    float: right;
    cursor: pointer;
}

#phonebook_form .phonebook-form-content .phonebook-form-body .phonebook-form-numbers-list-title {
    margin: 20px 0 0 0;
}

#phonebook_form .phonebook-form-content .phonebook-form-body .phonebook-form-numbers-list-title span {

}

#phonebook_form .phonebook-form-content .phonebook-form-body .phonebook-form-numbers-list-title img {
    float: right;
    width: 12px;
    margin: 0 5px 0 0;
    cursor: pointer;
}

#phonebook_form .phonebook-form-content .phonebook-form-body .phonebook-form-numbers-list {
    padding: 10px;
    border: #FFFFFF 1px solid;
    margin: 2px 0 0 0;
}

#phonebook_form .phonebook-form-content .phonebook-form-body .phonebook-form-numbers-list label {
    position: relative;
    padding-right: 20px;
    display: block;
    margin-bottom: 5px;
}

#phonebook_form .phonebook-form-content .phonebook-form-body .phonebook-form-numbers-list label select {
    border-width: 0;
    width: 80px;
    float: left;
}

#phonebook_form .phonebook-form-content .phonebook-form-body .phonebook-form-numbers-list label input[type="text"] {
    width: 150px;
    float: right;
}

#phonebook_form .phonebook-form-content .phonebook-form-body .phonebook-form-numbers-list label img {
    position: absolute;
    right: 0;
    top: 3px;
    width: 12px;
    cursor: pointer;
}